* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    height: 100vh;
}

.bigDiv {
    border: 3px solid green;
    height: 11000px;
}

header {
    position: sticky;
    top: 0.006px;
    /* border: 3px solid red; */
    background-color: #fff;
    box-shadow: 0px 2.5px 5px grey;
    height: 105px;
}

.allheader {
    margin: 0 auto;
    /* border: 3px solid goldenrod; */
    width: 1220px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listlar {
    /* border: 3px solid gold; */
    display: inline-block;

}

.listlar li {

    display: inline-block;
    padding: 20px;
    font-size: 17px;
}

.selected {
    /* border: 3px solid green; */
    display: inline-block;
}

.selected select {
    padding: 10px 10px;
    border: none;
    outline: none;
}

.selected select:hover {
    background-color: #cecece;
    border-radius: 5px;
}

.btn1 {
    border: 3px solid #00bae5;
    border-radius: 5px;
    padding: 10px 30px;
    margin-right: 10px;
    cursor: pointer;
}

.btn1:hover {
    background-color: #00bae5;
    color: #fff;
}

.btn2 {
    cursor: pointer;
    color: #19b47b;
    border: 3px solid #19b47b;
    border-radius: 5px;
    padding: 10px 40px;
}

.btn2:hover {
    background-color: #19b47b;
    color: #fff;
}

main {
    border: 3px solid red;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_col {
    border: 3px solid green;
    width: 1220px;
    height: 100%;
}

.mainHeader {
    color: #fff;
    background-color: #090979;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
    border: 3px solid blue;
    line-height: 100px;
}

.main_form {
    /* border: 3px solid #19b47b; */
    display: flex;
    justify-content: left;
    align-items: center;
    height: 300px !important;
    position: relative;
    top: 30px;
    
}

form {
    
    margin-left: 25px;
    /* border: 3px solid red; */
}

form label {
    line-height: 50px;
    font-size: 25px;
}

form input {

    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
    border: 1px solid rgb(215, 199, 173);
    background-color: #fff7d7;
    border-radius: 7px;
    width: 400px;
    height: 50px;
    font-size: 30px;
    outline: 1px solid #00bae5;

}


form button {
    border: 1px solid #649e26;
    margin-top: 20px;
    border-radius: 5px;
    padding: 15px 45px;
    background-image: linear-gradient(to bottom, #afd652, #6db62e);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6);
}