@media (max-width:1200px) {
    .header_item{
        padding: 20px;

    }
    .two_itemass{
        font-size: 10px !important;
    }
    
}
@media (max-width:992px) {
    .header_item{
        padding: 20px;
    }
    
}

@media (max-width:768px) {
    .header_item{
        padding: 20px;
    }
    
}

@media (max-width:600px) {
    .header_item{
        padding: 20px;
    }
    
}

@media (max-width:500px) {
    .header_item{
        padding: 20px;
    }
    
}

@media (max-width:375px) {
    .header_item{
        padding: 20px;
    }
    
}


